NEXT_PUBLIC_SUPABASE_URL=https://qrkmjijhnibbqcedljbd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=request_to_team_contact
SUPABASE_DATABASE_URL=postgresql://postgres:Secondio_10@db.qrkmjijhnibbqcedljbd.supabase.co:5432/postgres

ADMIN_PRIVATE_KEY=request_to_team_contact

NEXT_PUBLIC_RPC_URL=https://worldchain-sepolia.g.alchemy.com/public

CRE_API_URL=http://localhost:8081/api/resolve