###############################################################################
### REQUIRED ENVIRONMENT VARIABLES                                          ###
### DO NOT UPLOAD OR SHARE THIS FILE                                        ###
###############################################################################

# Ethereum private key (resolver wallet)
CRE_ETH_PRIVATE_KEY=request_to_team_contact

# Default target
CRE_TARGET=staging-settings

# Gemini API key (get from https://aistudio.google.com/apikey)
GEMINI_API_KEY_VAR=your-gemini_api_key

RPC_URL=https://worldchain-sepolia.g.alchemy.com/public

# Apify API token (get from https://console.apify.com/account/integrations)
APIFY_TOKEN_VAR=Your_Apify_token

PORT=8081